@import url('https://fonts.google.com/specimen/Inter');
@import url('https://fonts.google.com/specimen/Jomhuria');

* {
  box-sizing: border-box;
  padding: 0;
}

body {
  background-color: #FFF;
  margin: 0 auto;
  font-family: Inter, Arial;
}

main {
  width: 100vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

nav {
  display: flex;
  align-items: center;
  padding-left: 10px;
  justify-content: space-between;
  width: 100vw;
  height: 35px;
  border-bottom: 1px solid #000;
  box-shadow: 1px 0 5px #000;
  z-index: 9;
  position: fixed;
}

nav p {
  color: #000;
  font-family: Inter, Arial;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

nav ul {
  display: flex;
  padding: 10px;
}

nav ul li {
  list-style-type: none;
  padding: 17px;
  font-family: Inter, Arial;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

a {
  text-decoration: none;
  color: #000;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

.about p#Hl {
  display: flex;
  align-self: flex-start;
  font-family: Inter, Arial;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

.about h1 {
  color: #000;
  font-family: Jomhuria, Arial;
  font-size: 80px;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  margin: 0;
}

.about p#bio {
  display: flex;
  justify-self: flex-end;
  max-width: 150px;
  height: 58px;
  color: #000;
  font-family: Inter, Arial;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}